---
import About from "../components/About.astro";
import Benefits from "../components/Benefits.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Pricing from "../components/Pricing.astro";
import Problem from "../components/Problem.astro";
import Program from "../components/Program.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <About />
    <Program />
    <Benefits />
    <Pricing />
    <FAQ />
    <Footer />
  </main>
</Layout>

<style>
  main {
    padding-top: 0;
  }
</style>
